.item{
    display: inline-block !important;
    padding: 25px;

}

mat-card-content{
    display: flex !important;
    align-items: center;
}

mat-card-subtitle{
    margin-left: auto;
    width: 80px;
    font-size: 14px !important;
}

mat-card-title{
    font-size: 16px !important;
}
.btn-try{
    width: 100%;
    font-size: 23px;
    height: 45px;
}

ngb-pagination{
    display: inline-grid;
}

.div-pagination{
    text-align: center;
}